.container {
  width: 62%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.studentTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow-x: auto;
  display: block;
}

.studentTable th,
.studentTable td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.studentTable th {
  background-color: rgb(44, 43, 43);
  color: white;
}

.studentTable tr:hover {
  background-color: #f1f1f1;
}

.studentTable td {
  font-size: 14px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.searchContainer {
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px auto 20px;
}

.searchInput {
  flex: 1;
  padding: 5px;
  border-radius: 16px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.searchInput::placeholder {
  font-size: 15px;
}

.searchButton {
  padding: 5px 10px;
  border-radius: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.searchButton:hover {
  background-color: #45a049;
}

.viewButton{
  width: 50px;
  border: none;
  background-color: rgb(138, 138, 241);
  padding: 5px;
  border-radius: 5px;
}

.editButton,
.deleteButton {
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.editButton {
  background-color: #f0ad4e;
  color: white;
}

.editButton:hover {
  background-color: #ec971f;
}

.deleteButton {
  background-color: red;
  color: white;
}

.deleteButton:hover {
  background-color: darkred;
}

.studentTable td button {
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 1024px) {
  .container {
    width: 82%;
    padding: 15px;
  }
  .searchContainer{
    margin-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 75%;
    padding: 15px;
  }

  .studentTable {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .studentTable th,
  .studentTable td {
    padding: 8px;
    font-size: 12px;
  }

  .searchContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
  }

  .searchInput {
    flex: 0 0 60%;
  }

  .searchButton {
    flex: 0 0 30%;
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  .studentTable th,
  .studentTable td {
    padding: 5px;
    font-size: 10px;
  }

  .editButton,
  .deleteButton {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .searchContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .searchInput {
    flex: 0 0 60%;
  }

  .searchButton {
    flex: 0 0 30%;
    white-space: nowrap;
  }
}
